{% extends 'base.html.twig'%}

{% block title 'Mon agence immobiliére' %}

{% block body %}


    <div class="jumbotron text-center">

 <div class="container">
     <h3>La meilleurs agence</h3>
     <p>annonces immobilières</p>
 </div>
    </div>
    <div class="container">
        <h2 style=" text-align: center; background-color: #c6c7c7;"> Les Derniers Biens </h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="clo-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.postalcode  }})</p>
                        <div class="text-primary">{{ property.FormattedPrice }} €</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}